/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: #FF7C7C;
}
#header {
	background: #21243D;
	color: #FF7C7C;
	padding: 20px;
	font-size: 3em;	
	font-weight: bolder;
	text-transform: uppercase;
}
#left {
	background: #21243D;
	width: 140px;
	margin: 30px;
	text-align: center;
	float: left;
	border: 3px solid #88E1F2;
}
a {
	color: white;
}
#left li {
	padding: 10px;
	font-size: 1.2em;
}
hr {
	border: 1px solid #88E1F2;
}
#right {
	float: top;
	padding-left: 200px;
	margin-top: 30px;
	padding-right: 500px;
	margin-bottom: 30px;
}
#right h1 {
	padding: 5px 0 10px 0;
	color: #21243D;
	font-weight: bold;
	font-size: 1.5em;
}
#right h4 {
	font-weight: bold;
	font-size: 1.2em;
	font-style: italic;
	padding-bottom: 10px;
	color: white;
}
#right p {
	padding-bottom: 10px;
}
#right h2 {
	font-weight: bold;
	margin-top: 1em;
	font-size: 1.2em;
}
#right ul {
	margin-top: 1em;
	margin-bottom: 0.6em;
	list-style-type: circle;
	margin-left: 2em;
}
#right li {
	margin-bottom: 0.6em;
}
#right h3 {
	font-size: 1.1em;
	font-style: italic;
	font-weight: bold;
}
#right td {
	padding: 7px;
	background: white;
	border: 3px solid #88E1F2;
}
#right th {
	margin-left: 1em;
	width: 65%;
	background-color: #21243D;
	color: white;
	text-transform: uppercase;
	padding: 7px;
	border: 3px solid #88E1F2;
}
#right table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 70%;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}